.btn {
    margin-top: .5em;
    background: $mainBlue;
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
    border: none;
    cursor: pointer;

    font-size: 1.2rem;

    @mixin atSmall {
        font-size: 1.3rem;
    }

    @mixin atMedium {
        font-size: 1.4rem;
    }

    &:hover,
    &:focus {
        opacity: .75;
    }

    &--border-at-medium {
        font-size: unset;
        text-decoration: none;
        display: unset;
        background: unset;
        border-radius: unset;
        padding: unset;
        font-weight: unset;

        &:hover,
        &:focus {
            opacity: unset;
        }

        @mixin atMedium {
            margin: 0;
            padding: .1em 1em;
            color: $mainBlue;
            border: 3px solid $mainBlue;
            background: white;
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover,
            &:focus {
                background: $mainBlue;
                color: white;
            }
        }
    }
}